<div class="all_players">

    <div class="env_players">
        <div class="user">
        <div class="user_photo"  style="background-image:url(../../../assets/ade-temm.jpg)" ></div>
        <div class="user_name">Alex</div>

        <!-- <div class="user_photo"  style="background-image:url({{user1.avatar_url}})" ></div>
        <div class="user_name">{{user1.nickname}}</div> -->
        </div>

        <div class="user">
            <div class="user_photo"  style="background-image:url(../../../assets/imgs/vs-versus.png)" ></div>
            <!-- <div class="user_photo"  style="background-image:url({{user.avatar_url}})" ></div>
            <div class="user_name">{{user.nickname}}</div> -->
        </div>
        
        <div class="user">
            <div class="user_photo"  style="background-image:url(../../../assets/adylewsk.jpg)" ></div>
            <div class="user_name">Arnaud </div>
        
            <!-- <div class="user_photo"  style="background-image:url({{user2.avatar_url}})" ></div>
            <div class="user_name">{{user2.nickname}}</div> -->
        </div>
    </div><!--fin div env_players-->
    <div class="btn">
        <app-button-v4 [text]="'Watch Now'"></app-button-v4>
    </div>

</div>